<form action="/users/register" method="post">
    Username
    <input type="text" name="username">
    <br>
    Pass
    <input type="password" name="password">
    <br>
    First name
    <input type="text" name="firstName">
    <br>
    Last name
    <input type="text" name="lastName">
    <br>
    <input type="submit" value="Register">
</form>